@media(max-width:992px){

.hero-container{

flex-direction:column-reverse;

text-align:center;

}

.hero-button{

justify-content:center;

}

.hero-content h1{

font-size:42px;

}

.hero-image img{

max-width:380px;

}

.nav-menu{

display:none;

}

.feature-grid{

grid-template-columns:1fr 1fr;

}

.statistics-grid{

    grid-template-columns:repeat(2,1fr);

}

.course-grid{

    grid-template-columns:1fr;

}

.testimonial-grid{

    grid-template-columns:1fr;

}

}




@media(max-width:600px){

.feature-grid{

grid-template-columns:1fr;

}

.statistics-grid{

    grid-template-columns:1fr;

}

    .faq-question{

        font-size:16px;

        padding:18px 20px;

    }

}