.card{

    background:var(--white);

    border-radius:var(--radius);

    padding:35px;

    box-shadow:var(--shadow);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.icon{

    font-size:45px;

    margin-bottom:20px;

}

.card h3{

    margin-bottom:15px;

}

.card p{

    color:var(--gray);

}