.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h2{

    font-size:40px;

    margin-bottom:15px;

}

.section-title p{

    color:var(--gray);

}

.feature-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}