/* ==========================
        NAVBAR
========================== */

.navbar{

    width:100%;

    background:var(--white);

    box-shadow:var(--shadow);

    position:sticky;

    top:0;

    z-index:999;

}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:30px;

    font-weight:bold;

    color:var(--dark);

}

.logo span{

    color:var(--primary);

}

.nav-menu{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-menu a{

    color:var(--text);

    font-weight:600;

    transition:.3s;

}

.nav-menu a:hover{

    color:var(--primary);

}

.btn-login{

    background:var(--primary);

    color:white;

    padding:12px 26px;

    border-radius:var(--radius);

    transition:.3s;

}

.btn-login:hover{

    background:var(--secondary);

}